* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(172, 172, 172) 30%,
    rgb(54, 54, 56) 30%
  );
  overflow: hidden;
}

.header{
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-top: 50px;
}

ul,li{
  margin: 0;
  list-style: none;
  margin: 0 auto;

}

.img-wrap {
  margin-top: -34%;
width: 980px;
}

.text{
  width: 125.97px;
height: 32.5px;
left: 149.03px;
top: 62.25px;
font-weight: 600;
font-size: 20px;
line-height: 30px;

color: #000000;


}
.title {
  color: rgb(252, 252, 252);

}

.header-container {
  display: flex;
  justify-content: flex-end;
}

.nav__item {
    margin-left: 33px;

  }

.nav__list {
  display: flex;
  width: 513px;
height: 27px;
left: 960px;
top: 81px;
}

a {
  text-decoration: none;
  color: #000000;
}

.header__right{
  display: flex;
}

.nav__link{
  color: rgb(180, 179, 179);
}

.header__search{
margin-left: 40px;
width: 189px;
position: relative;
}

.header__search::before {
content: '';
width: 20px;
height: 20px;
position: absolute;
left: 0;
background-image: url(img/search.png);
background-position: center;
background-size: contain;
}

.search-input{
  outline: none;
border: none;
background-color: rgb(54, 54, 56);
border-bottom: 1px solid white;
width: 100%;
padding-left: 44px;
padding-bottom: 8px;
}

.search-input::placeholder{
  color:rgb(190, 190, 190);
font-weight: 400;
font-size: 15px;

}

.title{
  font-size: 250px;
  font-weight: 600;

}

.logo{
  display: flex;
}

.img{
  margin-right: 10px;
  margin-bottom: 15px ;
}

.content{
display: flex;
flex-direction: column;
align-content: center;
align-items: center;

}

.container{
  max-width: 1200px;
  margin: 0 auto;
}