* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(172, 172, 172) 30%,
    rgb(54, 54, 56) 30%
  );
}

.img-wrap {
  height: 900px;
  flex-shrink: 0;
  overflow: hidden;
  margin-bottom: 100px;
  object-fit: cover;
  padding-left: 400px;
  padding-top: 300px;
}

.text{
  width: 125.97px;
height: 32.5px;
left: 149.03px;
top: 62.25px;
font-weight: 600;
font-size: 20px;
line-height: 30px;

color: #000000;


}
.title {
  color: rgb(252, 252, 252);
  font-size: 10vh;
  
}

.header-container {
  display: flex;
  justify-content: flex-end;
}

.nav__item {
    margin-left: 33px;
  }

.nav__list {
  display: flex;
  width: 513px;
height: 27px;
left: 960px;
top: 81px;
}

a {
  text-decoration: none;
  color: #000000;
}
